# API
PORT=3001
MONGO_DB_URL=
MONGO_DB_NAME=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=s

// COLLECTIONS
MONGODB_COLLECTION_TODO=

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001/

API_KEY=
CORS_ORIGIN=http://localhost:5173
